@import '~stream-chat-react/dist/css/v2/index.css';
@import '~stream-chat-react/dist/css/v2/index.layout.css';

.App-logo {
  height: 10vmin;
}

.page-content {
  background-color: black;
  padding-top: 70px;
}

.default-divider {
  background-color: rgb(57, 193, 243);
  height: 4px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
